*.exe
*.bpl
*.dcu
*.dcp
*.local
*.stat
*.skincfg
*.map
*.identcache
*.dsk
*.rsm
*.~*
*.drc
*.tvsconfig
__history
__recovery
*.mo
*.po
*.res
components/synedit/
components/virtualtreeview/
*.log
packages/Delphi10.2/ConverterBackup/
packages/Delphi10.2/backup/
packages/Delphi10.2/lib/
source/backup/
